{% extends "base.html" %}

{% block content %}
<section class="header">
  <div id="particles-js"></div>
  <img class="main-logo" alt="Bauß Coaching & Consulting Logo" src="logo_white_transparent.svg">  

</section>

<div class="content-container">
  <div class="content-wrapper">
    <section class="content">
      <h2 id="dienstleistungen">Unsere Dienstleistungen</h2>
      <span class="header-subtitle">Interim Management &#183; Beratung &#183; Software &#183; Coaching</span>
      <p>Hier finden Sie in Kürze unsere neue Website!</p>
      
      <h2 id="kontakt">Kontakt</h2>
      <p>
        Bauß Coaching & Consulting GbR &ndash; Julian & Florian Bauß<br>
        Hummelsbütteler Kirchenweg 131<br>
        22339 Hamburg<br>
        mail: kontakt[at]bauss2c.de
      </p>
    </section>
  </div>
</div>

{% endblock content %}
